html, body {
    height: 100%; /* 568 */
    position: relative;
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #FFF url('/img/blur.jpg') no-repeat center fixed;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    font-style: normal;
}

p {
    font-weight: 300;
    font-size: 18px;
    margin: 1em 0;
    font-style: normal;
}