@import url(http://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic);

html, body {
    height: 100%; /* 568 */
    position: relative;
    overflow: hidden;
}


body {
    background: #FFF url('/app/img/blur.jpg') no-repeat center fixed;
    background-size: cover;
    padding: 20px;
}

.card {

    height: 100%;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 10px;
}

h1, h2, h3, p {
    font-family: 'Bad Script';
}

header {
    height: 100px;
    position: relative;
}

header h1 {
    text-align: right;
    padding: 30px;
    margin: 0;
    font-size: 40px;
    color: #BBB;
}

article {
    position: absolute;
    background-color: #FFF;
    border: 1px solid #F1F1F1;
    border-left: 0;
    border-right: 0;
    padding: 50px;
    top: 200px;
    bottom: 236px;
    left: 0;
    right: 0;
}

article p {
    font-size: 30px;
}

footer {
    padding: 50px;
    position: absolute;
    height: 300px;
    bottom: 0;
    right: 0;
    left: 0;
}


footer .code-input {
    display: inline-block;
    width: 40%;
    margin-right: 5%;
    overflow: hidden;
}
footer .btn-next {
    display: inline-block;
    width: 40%;
    overflow: hidden;
}
footer .btn-next button,
footer .code-input input {
    height: 100px;
}

footer .code-input input {
    font-size: 60px;
}

footer .btn-next button {
    font-size: 30px;
}

footer .progress {
    margin-top: 20px;
}